.body
{
  background-color: #f6f5f5;
  margin: 0px;
  padding: 0px;
}
.banner-image
{
    background-image: url(https://user-images.githubusercontent.com/71405379/94056590-c7826500-fdde-11ea-8bc4-fe9098ffe3f4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    width: 100%;
}
.banner-text
{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "poiret one"; 
}

a:link {
    text-decoration: none;
  }

.left-side
{
    float: left;
    width: 90px;
    height: 90px;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    margin: 30px 0px 0px 35px;
    float: left;
    text-decoration: white;
    padding: 30px 0px 20px 0px;
}
a
{
    color: white;
}
li
{
    width: 90px;
    height: 90px;
    text-align: center;
    font-size: 20px;
    font-family: calibri;
    margin: 30px 40px 0px 35px;
    float: right;
    text-decoration: white;
    list-style: none;
    padding: 30px 0px 20px 0px;
    
}
.box-container
{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    
}
.box1, .box2, .box3
{
    width: 300px;
    height: 320;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0px 4px;
    padding: 40px;
}
.box1, .box2
{
    border-right: 1px solid #d1cece;
}
.heading
{
    color: #4e89ae;
    font-family: calibri;
    font-size: 23px;
    line-height: 0px;
}
.details
{
    font-family: calibri;
    color: #d1cece;
    width: 300px;
    margin-bottom: 40px;
}
.more:hover {
    background-color: #b6b4b4;
  }
.more
{
    width: 22%;
    height: 38px;
    background-color: #3282b8;
    border: none;
    outline: none;
    border-radius: 0px;
}
.container
{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    color: white;
    background-color: #3282b8;
    text-align: center;
}
h2
{
    font-size: 40px;
    font-family: Candara;
    font-weight: lighter;
}
.stylep
{
    font-family: Calibri;
    font-weight: lighter;
    color: rgb(215, 223, 240);
}

.box-container2
{
    display: flex;
    justify-content: space-between;
    margin-block-start: 3em;
    margin: 80px;
    padding: 10px;
}
.person1
{
    border: 1px solid #a6dcef;
    padding: 30px;
    
}
.person2
{
    border: 1px solid #a6dcef;
    padding: 30px;
    
}
.person3
{
    border: 1px solid #a6dcef;
    padding: 30px;
    
}
.person4
{
    border: 1px solid #a6dcef;
    padding: 30px;
    
}
.name
{
    font-size: 20px;
    font-family: calibri;
    font-weight: lighter;
    
}
.details2
{
    font-weight: lighter;
    color: rgb(184, 216, 235);
    font-size: 17px;
    
    
}
.photo
{
    border-radius: 50%;
}

.container2
{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    color: white;
    background-color: white;
    text-align: center;
}
.box-container3
{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    text-align: left;
}
.backimg
{
    margin-bottom: 20px;
}
.title
{
    font-size: 40px;
    font-family: Candara;
    font-weight: lighter;
    color: rgb(122, 155, 177);
    margin-bottom: 0px;
}
.style
{
    font-family: Calibri;
    font-weight: lighter;
    color: rgb(165, 169, 177);
}
.section1, .section2
{
    display: flex;
    flex-direction: column;
    margin: 0px 4px;
    padding: 40px;
}
.details1
{
    font-family: calibri;
    color: #8f8f8f;
    width: 550px;
    margin-bottom: 40px;
}
hr
{
    width: 1350px;
}
.footgrp
{
    margin: 10px;
    padding: 30px;
}
.copyright
{
    font-weight: lighter;
    color: #aaaaaa;
    float: left;
    margin: 30px;
    margin-left: 35px;
}
.social
{
    float: right;
    margin-right: -45px;
}

.social i{
    color: #7eaedb;
    padding: 30px;
}
.fa-facebook-f:hover
{
   color: #3b5999;
   transform: translate(0, -10px);
}
.fa-twitter:hover
{
   color: #55acee;
   transform: translate(0, -10px);
}
.fa-linkedin:hover
{
   color: #0077B5;
   transform: translate(0, -10px);
}
.fa-pinterest-p:hover
{
   color: #bd081c;
   transform: translate(0, -10px);
}
